@model IEnumerable<app.Models.XXIBM_PRODUCT_STYLE>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XXIBM_PRODUCT_STYLEs</h2>
<table class="table">
 <tr>
   <th>Item_Number</th>
   <th>Description</th>
   <th>Long_Description</th>
 </tr>
 @foreach (var item in Model)
	{
	<tr>
	   <td>
             @Html.DisplayFor(modelItem => item.Item_Number)
           </td>
           <td>
             @Html.DisplayFor(modelItem => item.Description)
           </td>
           <td>
             @Html.DisplayFor(modelItem => item.Long_Description)
           </td>	
	</tr>
	}
</table>

