@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Henkel Kolkata Cloud1 is one of the top E-Commerce platforms in India, and currently the only company that provides a Complete E-Commerce Solution for Cloth brands looking to grow online. Founded by Shivalik & Partners in 2019, Henkel Kolkata Cloud1 has helped more than 3,000 businesses become established online cloth brands.</p>
