@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Henkel Kolkata Cloud1 is one of the top E-Commerce platforms in India, and currently the only company that provides a Complete E-Commerce Solution for Cloth brands looking to grow online. Founded by Shivalik & Partners in 2019, Henkel Kolkata Cloud1 has helped more than 3,000 businesses become established online cloth brands.<br />
</p>

<p>With Henkel Kolkata Cloud1's easy to use platform, anyone can order their own cloth within minutes by this website. One can choose from 100+ brands to create order for their brand. Every website element can be extensively modified to suit individual preferences. Further, there are endless website customization options to choose from that help create a truly unique website experience.<br />
</p>
