@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    DLF IT PARK, PLOT NO. 08-MAR<br />
    59.0 M ARTERIAL RD OF NEW TOWN (RAJARHAT)<br />
    KOLKATA, WB 700156, IN<br />
    Building:DLFB  Floor:2F<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:shivchak@in.ibm.com">shivchak@in.ibm.com</a><br />
</address>
